$primary: #5ea96c;
$secondary: #7ef01b;

#root {
  min-height: 100vh;
}

@mixin xButton() {
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 50px;
  border: none;
  position: absolute;
  top: 3%;
  right: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin recipeFlex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  min-height: 20%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: $secondary;

  button {
    background-color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    border: none;
  }

  input {
    padding: 5px;
    border: none;
    background-color: #444;
    color: #fff;

    &:focus {
      outline: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: $secondary;
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $primary;
  color: #000;

  &__original-recipe {
    @include recipeFlex();
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__ul {
    @include recipeFlex();
    list-style-type: none;
    background-color: $primary;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;

    li {
      padding: 27px;
      border-radius: 10px;
      background-color: $secondary;
      position: relative;

      button {
        @include xButton();
      }
    }
  }

  &__calculator {
    @include recipeFlex();
  }
}
