@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Croissant';
  src: url('./assets/CroissantOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('./assets/InclusiveSans.ttf') format('truetype');
}

body{
  position: relative;
}